.img-logo {
  max-height: 66px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar .bg-sersei {
  background-color: #ff963e;
  color: #ffffff;
}

#results-card {
  display: none;
}

#directions-card {
  display: none;
}

.bg-CAR {
  background-color: #e11e26;
}

.bg-BUS {
  background-color: #193662;
}

.bg-SUBWAY {
  background-color: #8e173d;
}

.bg-TRAIN {
  background-color: #f4ba1b;
}

.bg-BIKE {
  background-color: #2c6435;
}

.bg-WALK {
  background-color: #a0c539;
}

.bg-PUBLIC_TRANSPORT {
  background-color: #f1882c;
}

table tbody tr {
  cursor: pointer;
}
